<div id="wrapper">
<section id="content">
		<div class="container">
			<% if request.original_url.index("users") %>
				<%= render "devise/registrations/new_user" %>
			<% elsif request.original_url.index("user_lenders") %>
				<%= render "devise/registrations/new_user_lender" %>
			<% end %>
		</div>
	</section>
</div>


