<div id="wrapper">
	<section id="inner-headline">
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span12">
					<div class="inner-heading">
					<h2>銀行房貸查詢</h2>
					</div>
				</div>	
			</div>			
		</div>
	</section>
    <section id="content">
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span12">
					<h5 class="widgetheading">銀行列表</h5>
					<hr>
					<ul class="unstyled bank-list" >
					    <li><a href="join-us.html">全部</a> <i class="icon-circled icon-bgdanger icon">45</i></li>
					    <li><a href="join-us.html">中國信託</a> <i class="icon-circled icon-bgdanger icon">3</i></li>
					    <li><a href="join-us.html">中國信託</a> <i class="icon-circled icon-bgdanger icon">3</i></li>
					    <li><a href="join-us.html">中國信託</a> <i class="icon-circled icon-bgdanger icon">3</i></li>
					    <li><a href="join-us.html">中國信託</a> <i class="icon-circled icon-bgdanger icon">3</i></li>
					    <li><a href="join-us.html">中國信託</a> <i class="icon-circled icon-bgdanger icon">3</i></li>
					    <li><a href="join-us.html">中國信託</a> <i class="icon-circled icon-bgdanger icon">3</i></li>
					    <li><a href="join-us.html">中國信託</a> <i class="icon-circled icon-bgdanger icon">3</i></li>
					    <li><a href="join-us.html">中國信託</a> <i class="icon-circled icon-bgdanger icon">3</i></li>
					    <li><a href="join-us.html">中國信託</a> <i class="icon-circled icon-bgdanger icon">3</i></li>
					    <li><a href="join-us.html">中國信託</a> <i class="icon-circled icon-bgdanger icon">3</i></li>
					    <li><a href="join-us.html">中國信託</a> <i class="icon-circled icon-bgdanger icon">3</i></li>
					    <li><a href="join-us.html">中國信託</a> <i class="icon-circled icon-bgdanger icon">3</i></li>
					    <li><a href="join-us.html">中國信託</a> <i class="icon-circled icon-bgdanger icon">3</i></li>
					    <li><a href="join-us.html">中國信託</a> <i class="icon-circled icon-bgdanger icon">3</i></li>
					    <li><a href="join-us.html">中國信託</a> <i class="icon-circled icon-bgdanger icon">3</i></li>
					    <li><a href="join-us.html">中國信託</a> <i class="icon-circled icon-bgdanger icon">3</i></li>
					    <li><a href="join-us.html">中國信託</a> <i class="icon-circled icon-bgdanger icon">3</i></li>
					    <li><a href="join-us.html">中國信託</a> <i class="icon-circled icon-bgdanger icon">3</i></li>
					    <li><a href="join-us.html">中國信託</a> <i class="icon-circled icon-bgdanger icon">3</i></li>
					    <li><a href="join-us.html">中國信託</a> <i class="icon-circled icon-bgdanger icon">3</i></li>
					    <li><a href="join-us.html">中國信託</a> <i class="icon-circled icon-bgdanger icon">3</i></li>
					    <li><a href="join-us.html">中國信託</a> <i class="icon-circled icon-bgdanger icon">3</i></li>
					    <li><a href="join-us.html">中國信託</a> <i class="icon-circled icon-bgdanger icon">3</i></li>
					</ul>
				</div>
			</div>
			<div class="row-fluid">
				<div class="span12">
					<table class="table table-bordered table-striped table-hover">
					    <thead>
					    <tr>
						<th>
						    編號
						</th>
						<th>
						    銀行名稱
						</th>
						<th>
						    方案名稱
						</th>
						<th>
						    房貸利率
						</th>
						<th>
						    綁約
						</th>
						<th>
						    寬限期
						</th>
						<th>
						    貸款成數
						</th>
						<th>
						    其他貸款條件
						</th>
					    </tr>
					    </thead>
					    <tbody>
					    <tr>
						<td>
						    1
						</td>
						<td>
						    兆豐銀行
						</td>
						<td>
						    <a href="https://www.megabank.com.tw/news/news_01.asp?kind=1&sno=481&channel=F190" target="_blank">青年安心成家方案[詳細內容]</a>
						</td>
						<td>
						    二段式：第 1~24 期 1.72% 機動利率；第 25 期起 2.02% 機動利率
						</td>
						<td>
						    2 年
						</td>
						<td>
						    最長三年
						</td>
						<td>
						    最高八成
						</td>
						<td>
						    限首戶自住；每案貸款金額上限 500 萬，超過部份依銀行提供貸款利率。
						</td>
					    </tr>
					    <tr>
						<td>
						    1
						</td>
						<td>
						    兆豐銀行
						</td>
						<td>
						    <a href="https://www.megabank.com.tw/news/news_01.asp?kind=1&sno=481&channel=F190" target="_blank">青年安心成家方案[詳細內容]</a>
						</td>
						<td>
						    二段式：第 1~24 期 1.72% 機動利率；第 25 期起 2.02% 機動利率
						</td>
						<td>
						    2 年
						</td>
						<td>
						    最長三年
						</td>
						<td>
						    最高八成
						</td>
						<td>
						    限首戶自住；每案貸款金額上限 500 萬，超過部份依銀行提供貸款利率。
						</td>
					    </tr>
					    <tr>
						<td>
						    1
						</td>
						<td>
						    兆豐銀行
						</td>
						<td>
						    <a href="https://www.megabank.com.tw/news/news_01.asp?kind=1&sno=481&channel=F190" target="_blank">青年安心成家方案[詳細內容]</a>
						</td>
						<td>
						    二段式：第 1~24 期 1.72% 機動利率；第 25 期起 2.02% 機動利率
						</td>
						<td>
						    2 年
						</td>
						<td>
						    最長三年
						</td>
						<td>
						    最高八成
						</td>
						<td>
						    限首戶自住；每案貸款金額上限 500 萬，超過部份依銀行提供貸款利率。
						</td>
					    </tr>
					    <tr>
						<td>
						    1
						</td>
						<td>
						    兆豐銀行
						</td>
						<td>
						    <a href="https://www.megabank.com.tw/news/news_01.asp?kind=1&sno=481&channel=F190" target="_blank">青年安心成家方案[詳細內容]</a>
						</td>
						<td>
						    二段式：第 1~24 期 1.72% 機動利率；第 25 期起 2.02% 機動利率
						</td>
						<td>
						    2 年
						</td>
						<td>
						    最長三年
						</td>
						<td>
						    最高八成
						</td>
						<td>
						    限首戶自住；每案貸款金額上限 500 萬，超過部份依銀行提供貸款利率。
						</td>
					    </tr>
					    <tr>
						<td>
						    1
						</td>
						<td>
						    兆豐銀行
						</td>
						<td>
						    <a href="https://www.megabank.com.tw/news/news_01.asp?kind=1&sno=481&channel=F190" target="_blank">青年安心成家方案[詳細內容]</a>
						</td>
						<td>
						    二段式：第 1~24 期 1.72% 機動利率；第 25 期起 2.02% 機動利率
						</td>
						<td>
						    2 年
						</td>
						<td>
						    最長三年
						</td>
						<td>
						    最高八成
						</td>
						<td>
						    限首戶自住；每案貸款金額上限 500 萬，超過部份依銀行提供貸款利率。
						</td>
					    </tr>
					    <tr>
						<td>
						    1
						</td>
						<td>
						    兆豐銀行
						</td>
						<td>
						    <a href="https://www.megabank.com.tw/news/news_01.asp?kind=1&sno=481&channel=F190" target="_blank">青年安心成家方案[詳細內容]</a>
						</td>
						<td>
						    二段式：第 1~24 期 1.72% 機動利率；第 25 期起 2.02% 機動利率
						</td>
						<td>
						    2 年
						</td>
						<td>
						    最長三年
						</td>
						<td>
						    最高八成
						</td>
						<td>
						    限首戶自住；每案貸款金額上限 500 萬，超過部份依銀行提供貸款利率。
						</td>
					    </tr>
					    
					    
					    </tbody>
					</table>
					<div class="cta-box">
						<div class="row-fluid">
							<div class="span12">
								<div class="cta-text">
									注意事項：本站所列資訊僅供參考，實際貸款條件請依各銀行提供之訊息為準。
								</div>
							</div>
													
						
						</div>
					</div>
					<div class="blankline30"></div>
				</div>	
			</div>
		</div>
	</section>

</div>