<footer>
		
	  <div class="container-fluid">
		  <div class="row-fluid">
			 
			  <div class="span12">
			  <div class="copyright">
				  <ul>
				    <li>客服信箱：service@ezbank.com.tw</li>
				    <li>
				    	<%= link_to "隱私權聲明", privacy_path %>
				    </li>
				    <li>
				    	<%= link_to "服務條款", term_path %>
				    </li>
				    <li>
				    	<%= link_to "常見問題", faq_path %>
				    </li>
				    <li>
				    	<%= link_to "關於我們", about_us_path %>
				    </li>
				    <li>&copy;2014 EZBANK. All right reserved</li>
				  </ul>
			  </div>
			  
			  </div>
			  
			  
		  </div>
	  </div>
				
	</footer>