<footer>
		
	  <div class="container-fluid">
		  <div class="row-fluid">
			 
			  <div class="span12">
			  <div class="copyright">
				  <ul>
				    <li>客服信箱：service@e-loan.com.tw</li>
				    <li><a href="privacy.html">隱私權聲明</a></li>
				    <li><a href="term.html">服務條款</a></li>
				    <li><a href="faq.html">常見問題</a></li>
				    <li><a href="about-us.html">關於我們</a></li>
				    <li>&copy;2014 e-Loan. All right reserved</li>
				  </ul>
			  </div>
			  
			  </div>
			  
			  
		  </div>
	  </div>
				
	</footer>