<p><%= @lender.name %><%= @lender.work_title %>您好：</p>

<p>e貸宗師歡迎您的加入！</p>

<p>
e貸宗師致力於提昇貸款專員的業務來源，以及提供高品質的貸款媒合服務。
</p>
<p>
我們會儘快於3天內完成人工審核，並與您聯繫。
</p>
<p>
通過審核後，當有符合您承做區域的案件進來時，您就會收到案件資訊與回覆連結。
</p>
<p>
您只要使用連結即可以回覆該案件。
</p>
<p>
透過e貸宗師，無需額外的業務開發，您就可以輕鬆拓展業務來源，提昇業績！
</p>
<p>
歡迎介紹此項服務給予您的親友，您的支持是我們成長的動力！
</p>


<p>
e貸宗師 客服中心敬上
</p>
<p>
官方網站：<a href="http://e-loan.com.tw">http://e-loan.com.tw</a>
客服信箱：service@e-loan.com.tw
</p>