<div id="wrapper">
		
	<section id="inner-headline">
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span12">
					<div class="inner-heading">
					<h2>回覆貸款需求 案件編號： <%= @loan_case.id %></h2>
					</div>
				</div>	
			</div>			
		</div>
	</section>
	
	<section id="content">
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span6">
                                    <h2>貸款需求</h2>
                                    <hr>
                                    <ul class="demand" id="demand-1">
                                        <li>是否成交：<%= @loan_case.is_dealed%></li>
                                        <li>成交總價/預計成交總價:2000萬（如有車位，含車位價格)</li>
                                        <li>車位購買價: 200萬；無</li>
                                        <li>欲貸款金額：1600萬</li>
                                        <li>是否需要寬限期：是，需要兩年</li>
                                        <li>貸款期限：20年或30年或40年</li>
                                        <li>備註：希望兩天內回覆</li>
                                    </ul>
                                    
                                    <div class="blankline20"></div>
                                    <h2>房屋資訊</h2>
                                    <hr>
                                    <ul class="demand" id="demand-2">
                                        <li>地址:100台北市中正區南昌路一段24號</li>
                                        <li>樓層：3樓</li>
                                        <li>建築類型：公寓</li>
                                        <li>格局：3房/2廳/2衛</li>
                                        <li>建物權狀坪數:32.3坪（不含車位）</li>
                                        <li>公設坪數：坪（非必填）</li>
                                        <li>土地持分坪數：坪（非必填）</li>
                                        <li>屋齡：年（填0為新成屋）</li>
                                        <li>裝潢：裝潢仍新</li>
                                        <li>屋況：佳，且無滲漏水或壁癌</li>
                                        <li>頂樓是否有加蓋：有</li>
                                        <li>加蓋坪數：30坪</li>
                                        <li>是否有車位:機械車位</li>
                                        <li>車位樓層:B1</li>
                                        <li>車位坪數:10坪</li>
                                    </ul>
                                    
                                    <div class="blankline20"></div>
                                    <h2>個人資訊</h2>
                                    <hr>
                                    <ul class="demand" id="demand-3">
                                        <li>年齡:40歲</li>
                                        <li>公司名稱：104科技</li>
                                        <li>是否為公司負責人：否</li>
                                        <li>職稱：專案經理</li>
                                        <li>年資：3年</li>
                                        <li>年薪：80萬</li>
                                        <li>其他收入：20萬</li>
                                        <li>公司屬性：上市櫃公司</li>
                                        <li>名下是否有房子：無</li>
                                        <li>名下其他負債：房貸：無；信貸：無；車貸：20萬；助學貸款：15萬</li>
                                        <li>過去半年是否有動用過信用卡或現金卡循環利息：無</li>
                                        <li>是否有使用支票：無</li>
                                        <li>過去三年是否有跳票記錄：無</li>
                                    </ul>
                                    <div class="blankline20"></div>
				</div>
				
				<div class="span6">
					
					<aside class="">
                                            <form id="load-replay" action="contact/contact.php" method="post" class="form-horizontal" name="send-contact">
						<div class="widget">
							<h2 class="widgetheading">貸款條件回覆表單<span></span></h5>
							<hr>
                                                        <div class="control-group">
                                                            <label class="control-label" for="">可貸款金額*</label>
                                                            <div class="controls">
                                                              <input id="" type="text" class="input-medium" placeholder="800" />萬
                                                            </div>
                                                        </div>
                                                        <div class="control-group">
                                                            <label class="control-label" for="">貸款年限*</label>
                                                            <div class="controls">
                                                              <input id="" type="text" class="input-medium" placeholder="20" />年
                                                            </div>
                                                        </div>
                                                        <div class="control-group">
                                                            <label class="control-label" for="">寬限期*</label>
                                                            <div class="controls">
                                                              <input id="" type="text" class="input-medium" placeholder="無、1年、2年" />
                                                            </div>
                                                        </div>
                                                        <div class="control-group">
                                                            <label class="control-label" for="">利率說明*</label>
                                                            <div class="controls">
                                                              <textarea rows="5" class="input-xlarge" placeholder=""></textarea>
                                                            </div>
                                                        </div>
                                                        
                                                        <div class="control-group">
                                                            <label class="control-label" for="">是否有綁約*</label>
                                                            <div class="controls">
                                                              <label class="radio">
                                                                <input type="radio" name="" id="" value="0" checked>
                                                                    否
                                                                </label>
                                                                <label class="radio">
                                                                    <input type="radio" name="" id="" value="1">
                                                                    是
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="control-group">
                                                            <label class="control-label" for="">費用說明*</label>
                                                            <div class="controls">
                                                                <textarea rows="5" class="input-xlarge" placeholder=""></textarea>
                                                            </div>
                                                        </div>
                                                        <div class="control-group">
                                                            <label class="control-label" for="">其他說明*</label>
                                                            <div class="controls">
                                                               <textarea rows="5" class="input-xlarge" placeholder="如可提供保證人或其他財力證明，或特別說明"></textarea>
                                                            </div>
                                                        </div>
                                                        <div class="control-group">
                                                            <div class="controls">
                                                                <div class="form-actions">
                                                                  <button class="btn btn-success input-medium" type="submit">送出</button>
                                                                </div>
                                                            </div>
                                                        </div>
						</div>
                                            </form>    
					</aside>
				</div>	
			</div>
		</div>
	</section>
</div>
<a href="#" class="scrollup"><i class="icon-angle-up icon-square icon-bglight icon-2x active"></i></a>