<div id="wrapper">
<section id="content">
		<div class="container">
			<% if request.original_url.index("users/sign_in") %>
				<%= render "devise/sessions/new_user" %>
			<% elsif request.original_url.index("user_lenders/sign_in") %>
				<%= render "devise/sessions/new_user_lender" %>
			<% end %>
		</div>
	</section>
</div>


