<!DOCTYPE html>
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">

<body>
	<!-- start header -->
<div id="wrapper">
	
	<section id="inner-headline">
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span12">
					<div class="inner-heading">
					<h2>關於e貸宗師</h2>
					</div>
				</div>	
			</div>			
		</div>
	</section>
	
	<section id="content">
		<div class="container-fluid">
			<div class="row-fluid">

				<div class="span12">
					<h4>e貸宗師，運用新科技提供更簡便的申貸模式，創造貸款者與貸款專員的雙贏局面！</h4>
					<p>
					
					</p>
					<blockquote>
					<h5>
					成立於2014年，我們發現申請貸款是一個無效率又麻煩的事情，e貸宗師致力把貸款流程簡化，精準將貸款者的需求與貸款專員媒合，讓貸款者有更多的時間陪伴家人，往下一個人生階段的幸福邁進！
					</h5>
					</blockquote>

				</div>	

			</div>
			
			<!-- divider -->
			<div class="row-fluid">
				<div class="span12">
					<div class="solidline"></div>
				</div>
			</div>
			<!-- end divider -->
			
	<div class="row-fluid team">
		<div class="span12">
			<h4 class="title"><strong>Our Team</strong></h4>
		</div>
		
		<div class="span3">
			<div class="team-box">
			<a href="#" class="thumbnail"><img src="assets/img/dummies/team/1.jpg" alt="" /></a>
			<div class="roles aligncenter">
				<p class="lead"><strong>Bryan Cheng </strong></p>
				<p>
					Co-Founder <br /> Web-Developer
				</p>
				

			</div>
			</div>
		</div>
		<div class="span3">
			<div class="team-box">
			<a href="#" class="thumbnail"><img src="assets/img/dummies/team/2.png" alt="" /></a>
			<div class="roles aligncenter">
				<p class="lead"><strong>Ellie Chiu</strong></p>
				<p>
					Co-Founder <br /> Business-Development
				</p>
							
			</div>
			</div>
		</div>
		<div class="span3">
			<div class="team-box">
			<a href="#" class="thumbnail"><img src="assets/img/dummies/team/3.png" alt="" /></a>
			<div class="roles aligncenter">
				<p class="lead"><strong>Jason Ko</strong></p>
				<p>
					Co-Founder <br /> Web-Developer
				</p>
				
			</div>
			</div>
		</div>
		<div class="span3">
			<div class="team-box">
			<a href="#" class="thumbnail"><img src="assets/img/dummies/team/4.jpg" alt="" /></a>
			<div class="roles aligncenter">
				<p class="lead"><strong>May be You are here!</strong></p>
				<p>
					Coffee maker etc.
				</p>
				<p>
					You can contact us to create this position you want.
				</p>
			</div>
			</div>
		</div>
	</div>
	<div class="blankline30"></div>

		</div>
	</section>

</div>
<a href="#" class="scrollup"><i class="icon-angle-up icon-square icon-bglight icon-2x active"></i></a>	



</body>
</html>