<!DOCTYPE html>
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">

<body>
	<!-- start header -->
<div id="wrapper">
	
	<section id="inner-headline">
		<div class="container">
			<div class="row-fluid">
				<div class="span12">
					<div class="inner-heading">
					<h2>關於估屋網</h2>
					</div>
				</div>	
			</div>			
		</div>
	</section>
	
	<section id="content">
		<div class="container">
			<div class="row-fluid">

				<div class="span12">
					<h4 class="pullquote-left">「估屋網」提供「快速」的銀行估價結果，掌握買點！
					</h4>
					
					<p>
						我們發現一般人買房子最怕「買貴了」，<br />
						或是「貸不到理想的成數」，<br />
						透過「估屋網」提供的「銀行快速估價」服務，<br />
						<span class="underline">不需聯徵，就讓您拿到比房屋仲介提供的成交均價更為準確的銀行估價，<br />
						</span>
						做為您殺價的籌碼，掌握最佳買點，成就一家的幸福。		
					</p>


					<div class="blankline30"></div>	
					<h4 class="pullquote-left"> 我們如何做到？</h4>
					<p>
						根據您填寫的詳細房屋地址及個人需求條件，<br />
						透過我們獨特設計的技術，<br />
						通知給各大銀行房屋估價專員進行房屋估價，<br />
						系統匯整資料後以最快的時間內回覆您。<br />
						<span class="underline">藉由充足的房屋資訊、大量的銀行合作專員、優異的系統設計，<br />
						達成快速且準確的銀行估價結果。</span>
					</p>
					<p>
						相信，透過我們的服務，<br />
						一定能幫您更快買到理想的家！
					</p>


				</div>	

			</div>
			<div class="blankline30"></div>
			
			
	

		</div>
	</section>

</div>
<a href="#" class="scrollup"><i class="icon-angle-up icon-square icon-bglight icon-2x active"></i></a>	



</body>
</html>