<!DOCTYPE html>
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">

<body>
	<!-- start header -->
<div id="wrapper">
	
	<section id="inner-headline">
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span12">
					<div class="inner-heading">
					<h2>關於e貸宗師</h2>
					</div>
				</div>	
			</div>			
		</div>
	</section>
	
	<section id="content">
		<div class="container-fluid">
			<div class="row-fluid">

				<div class="span12">
					<h4 class="pullquote-left">「e 貸宗師」是專業的貸款諮詢平台，提供貸款申請者與貸款專員大量的媒合機會。</h4>
					
					<p><span class="underline">在購買房屋的過程中，我們發現申請貸款是一件麻煩的事情！<br />因此e貸宗師致力把貸款流程簡化，精準將貸款者的需求與貸款專員媒合，<br />讓貸款者有更多的時間陪伴家人，往下一個人生階段的幸福邁進！</span>


					<div class="blankline30"></div>	
					<h4 class="pullquote-left">我們的理念 --- 幫您找到「最優惠」貸款條件</h4>
					<p>
					不管是房貸或信貸，『貸款』的出發點，都是為了滿足一個夢想，一個需求。<br />
					也許是一個家，一個投資機會，或者是實現夢想途中需要的資金周轉。<br />
					不管是哪一個，我們都需要銀行的人脈，針對我們的需求與條件，提供最優惠的貸款方案。<br />
					</p>
					<p>
					各家銀行喜歡的評估條件不盡相同，<br />
					有些銀行偏好外商員工，有些銀行喜歡軍公教，<br />
					也有些銀行只要信用良好，收入穩定，就能申請到好條件。<br />
					隨著總行的規定和可放款的資金水位變化，各家條件會隨著時間調整。<br />
					</p>
					你心中是不是也有以下問題：
					<ul>
						<li>「我該如何找到最適合的銀行呢？」</li>
						<li>「如何得到貸款專員的聯絡訊息呢?」</li>
						<li>「有沒有更快的解決方案呢?」 </li>
					</ul>
	
					<p>
					所以，我們成立了『e貸宗師』！<br />
					我們招集了各家銀行與壽險公司專業的貸款專員，嚴格認證，並進行貸款媒合。<br />
					只要上網填寫需求，就有多位專員為你提供最優惠的貸款條件供你選擇。<br />
					</p>
					<p>
					<span class="underline">更重要的是，你的個人連絡資訊完全隱匿，<br />在你收到專員回覆的條件前，你的個人連絡資料不會曝光，<br />加上網站的加密技術，保障你的個人隱私。</p>
					<p>
					<span class="underline">現在就試試看我們的服務吧！</span>
					</p>


				</div>	

			</div>
			<div class="blankline30"></div>
			
			
	

		</div>
	</section>

</div>
<a href="#" class="scrollup"><i class="icon-angle-up icon-square icon-bglight icon-2x active"></i></a>	



</body>
</html>