<body>

<div id="wrapper">
	<section id="inner-headline">
		<div class="container">
			<div class="row-fluid">
				<div class="span12">
					<div class="inner-heading">
					<h2>常見問題</h2>
					</div>
				</div>	
			</div>			
		</div>
	</section>
	
	<section id="content">
		<div class="container">
			<div class="row-fluid">

				<div class="span12">
					<h4 class="title"><strong>申請估價</strong> 常見問題</h4>
					<!-- start: Accordion -->
					<div class="accordion" id="accordion2">
						<div class="accordion-group">
							<div class="accordion-heading">
								<a class="accordion-toggle active" data-toggle="collapse" data-parent="#accordion2" href="#collapse1">
								<i class="icon-minus"></i>Q1. 在「估屋網」上申請房屋估價需要費用嗎？</a>
							</div>
							<div id="collapse1" class="accordion-body collapse in">
								<div class="accordion-inner">
								  我們在確認您的房屋位址與聯絡資訊後，會收取 $200 的服務費，並於 24 小時內回覆您 5 家銀行估價。 
								  <%= link_to apply_case_path, :class => "btn btn-success" do %>
											立即申請 <i class="icon-angle-right"></i>
										<% end %>
								</div>
							</div>
						</div>
						<div class="accordion-group">
							<div class="accordion-heading">
								<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse2">
								<i class="icon-plus"></i>Q2. 提出估價需求會使我的個人資料曝光嗎？</a>
							</div>
							<div id="collapse2" class="accordion-body collapse">
								<div class="accordion-inner">
									 不會。未經同意，我們不會將您的聯絡資訊告知任何人，包括銀行專員。
								</div>
							</div>
						</div>
						<div class="accordion-group">
							<div class="accordion-heading">
								<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse3">
								<i class="icon-plus"></i>Q3. 提出估價需求後，接下來我要怎麼做？</a>
							</div>
							<div id="collapse3" class="accordion-body collapse">
								<div class="accordion-inner">
								提出估價需求後，我們會與您聯絡並核對資料，確認資料無誤後，我們會先收取 $200 的服務費，並請至少 5 家銀行為您估價。24 小時內會告知您估價結果。
								</div>
							</div>
						</div>
						<div class="accordion-group">
							<div class="accordion-heading">
								<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse4">
								<i class="icon-plus"></i>Q4. 是銀行幫我估價嗎？</a>
							</div>
							<div id="collapse4" class="accordion-body collapse">
								<div class="accordion-inner">
									是的。是銀行專員根據<span style="color:#e96b56">建物藤本</span>估出來的，是銀行在未看到屋況前，根據地段與房屋條件的估價結果。實際申請貸款時，銀行通常會再有一次實地估價，到現場檢視屋況。
								</div>
							</div>
						</div>
						<div class="accordion-group">
							<div class="accordion-heading">
								<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse5">
								<i class="icon-plus"></i>Q5.「估屋網」的估價可信嗎？</a>
							</div>
							<div id="collapse5" class="accordion-body collapse">
								<div class="accordion-inner">
									是的，我們是直接請銀行為您估價，因此絕對可信。如需銀行專員聯絡資訊，可私下向我們索取。
								</div>
							</div>
						</div>
					</div>
					<!--end: Accordion -->
					
					<div class="blankline30"></div>
					<div class="solidline"></div>
					<div class="blankline20"></div>
					
					<h4 class="title"><strong>房貸專員加入</strong> 常見問題</h4>
					<!-- start: Accordion -->
					<div class="accordion" id="accordion3">
						<div class="accordion-group">
							<div class="accordion-heading">
								<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#loan-questions1">
								<i class="icon-plus"></i>Q1. 要如何成為「估價網」的認證房貸專員？</a>
							</div>
							<div id="loan-questions1" class="accordion-body collapse">
								<div class="accordion-inner">
								  請點選右上角「專員註冊」，並提供以下詳細資料：
								  <li>真實姓名</li>
								  <li>公司與分行資料</li>
								  <li>公司電話</li>
								  <li>公司傳真</li>
								  <li>行動電話</li>
								  <li>公司email</li>
								  <li>承做服務區域</li>
								  <li>名片圖檔上傳</li>
								  <li>個人大頭照上傳</li>
								  <br />
								  為了提供用戶更有保障的專業服務，收到房貸專員註冊申請後，我們將進行以下「職業認證」：
								  <li>電話認證：由專人於上班時間致電房貸專員之公司，確保服務公司之資訊無誤。</li>
								  <li>名片查核與建檔：由專人檢核房貸專員上傳之公司名片，確認其資訊與認證之資訊無誤後始進行建檔，並通過其註冊申請。</li>
								</div>
							</div>
						</div>
						<div class="accordion-group">
							<div class="accordion-heading">
								<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#loan-questions2">
								<i class="icon-plus"></i>Q2. 請問這個平台使用上需要付費嗎？</a>
							</div>
							<div id="loan-questions2" class="accordion-body collapse">
								<div class="accordion-inner">
								  本平台不收取任何佣金，合作專員不需支付任何費喔！
								</div>
							</div>
						</div>
						<div class="accordion-group">
							<div class="accordion-heading">
								<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#loan-questions3">
								<i class="icon-plus"></i>Q3. 要怎麼知道哪些消費者有房貸需求？</a>
							</div>
							<div id="loan-questions3" class="accordion-body collapse">
								<div class="accordion-inner">
									 「估價網」於收到消費者的房貸需求後，將由系統針對符合承做服務區域之認證房貸專員進行媒合，將房貸需求寄送至您的email信箱，或透過即時通訊的方式告知您。
								</div>
							</div>
						</div>
					</div>
					<!--end: Accordion -->

				</div>	

			</div>
		</div>
	</section>

</div>
<a href="#" class="scrollup"><i class="icon-angle-up icon-square icon-bglight icon-2x active"></i></a>	

</body>