<body>

<div id="wrapper">
	<section id="inner-headline">
		<div class="container">
			<div class="row-fluid">
				<div class="span12">
					<div class="inner-heading">
					<h2>常見問題</h2>
					</div>
				</div>	
			</div>			
		</div>
	</section>
	
	<section id="content">
		<div class="container">
			<div class="row-fluid">

				<div class="span12">
					<h4 class="title"><strong>申請新房貸</strong> 常見問題</h4>
					<!-- start: Accordion -->
					<div class="accordion" id="accordion2">
						<div class="accordion-group">
							<div class="accordion-heading">
								<a class="accordion-toggle active" data-toggle="collapse" data-parent="#accordion2" href="#collapse1">
								<i class="icon-minus"></i>Q1. 在「EZBANK」上申請貸款需要費用嗎？</a>
							</div>
							<div id="collapse1" class="accordion-body collapse in">
								<div class="accordion-inner">
								  不需要喔！「EZBANK」是貸款媒合平台，非代辦中心，目前在「EZBANK」上申請貸款不需要支付任何費用。 
								</div>
							</div>
						</div>
						<div class="accordion-group">
							<div class="accordion-heading">
								<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse2">
								<i class="icon-plus"></i>Q2. 你們如何進行貸款專員的認證？</a>
							</div>
							<div id="collapse2" class="accordion-body collapse">
								<div class="accordion-inner">
								  為了提供用戶更有保障的專業服務，所有貸款專員註冊時需提供以下詳細資料：
								  <li>真實姓名</li>
								  <li>公司與分行資料</li>
								  <li>公司電話</li>
								  <li>公司傳真</li>
								  <li>行動電話</li>
								  <li>公司email</li>
								  <li>承做服務區域</li>
								  <li>名片圖檔上傳</li>
								  <li>個人大頭照上傳</li>
								  <br />
								  收到貸款專員註冊申請後，我們將進行以下「職業認證」：
								  <li>email認證：由系統寄發email認證信至貸款專員之公司email信箱，確認完成系統認證後，由專人檢核所填之email信箱為公司專用網域，避免貸款專員以私人信箱進行認證。</li>
								  <li>電話認證：由專人於上班時間致電貸款專員之公司，確保服務公司之資訊無誤。</li>
								  <li>名片查核與建檔：由專人檢核貸款專員上傳之公司名片，確認其資訊與認證之資訊無誤後始進行建檔，並通過其註冊申請。</li>
								</div>
							</div>
						</div>
						<div class="accordion-group">
							<div class="accordion-heading">
								<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse3">
								<i class="icon-plus"></i>Q3. 提出貸款需求會使我的個人資料曝光嗎？</a>
							</div>
							<div id="collapse3" class="accordion-body collapse">
								<div class="accordion-inner">
									 不會。您提出您的貸款需求後，我們將隱匿您的真實姓名與個人連絡資訊，再由系統發送您的需求給符合承做服務區域，且經過認證之貸款專員。貸款專員需於時效內至「EZBANK」後台系統完成回覆，並提供貸款條件提案。「EZBANK」將統一彙整各貸款專員之回覆內容，連同其連絡資訊一併寄給您。您的個人資料不會曝光。
								</div>
							</div>
						</div>
						<div class="accordion-group">
							<div class="accordion-heading">
								<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse4">
								<i class="icon-plus"></i>Q4. 提出貸款需求後，接下來我要怎麼做？</a>
							</div>
							<div id="collapse4" class="accordion-body collapse">
								<div class="accordion-inner">
								提出貸款需求後，您的貸款需求將由系統發送給媒合之貸款專員，「EZBANK」將統一彙整各貸款專員之回覆內容，連同其連絡資訊一併寄給您。您可依各專員之條件選擇與其連絡。
								</div>
							</div>
						</div>
						<div class="accordion-group">
							<div class="accordion-heading">
								<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse5">
								<i class="icon-plus"></i>Q5. 跟壽險業者申辦房貸，需要是他們的保戶嗎？需要搭配買保險嗎？ </a>
							</div>
							<div id="collapse5" class="accordion-body collapse">
								<div class="accordion-inner">
								不需要。許多壽險業者皆有提供房貸服務，申請貸款者不需是他們的保戶，通常也不需要搭配購買保險，如有特殊需求，壽險房貸專員將於回覆需求時一併告知，以供您參考。
								</div>
							</div>
						</div>
					</div>
					<!--end: Accordion -->
					
					<div class="blankline30"></div>
					<div class="solidline"></div>
					<div class="blankline20"></div>
					
					<h4 class="title"><strong>貸款專員加入</strong> 常見問題</h4>
					<!-- start: Accordion -->
					<div class="accordion" id="accordion3">
						<div class="accordion-group">
							<div class="accordion-heading">
								<a class="accordion-toggle active" data-toggle="collapse" data-parent="#accordion3" href="#loan-questions1">
								<i class="icon-minus"></i>Q1. 要如何成為「EZBANK」的認證貸款專員？</a>
							</div>
							<div id="loan-questions1" class="accordion-body collapse in">
								<div class="accordion-inner">
								  請點選「貸款專員申請加入」，並提供以下詳細資料：
								  <li>真實姓名</li>
								  <li>公司與分行資料</li>
								  <li>公司電話</li>
								  <li>公司傳真</li>
								  <li>行動電話</li>
								  <li>公司email</li>
								  <li>承做服務區域</li>
								  <li>名片圖檔上傳</li>
								  <li>個人大頭照上傳</li>
								  <br />
								  為了提供用戶更有保障的專業服務，收到貸款專員註冊申請後，我們將進行以下「職業認證」：
								  <li>email認證：由系統寄發email認證信至貸款專員之公司email信箱，確認完成系統認證後，由專人檢核所填之email信箱為公司專用網域，避免貸款專員以私人信箱進行認證。</li>
								  <li>電話認證：由專人於上班時間致電貸款專員之公司，確保服務公司之資訊無誤。</li>
								  <li>名片查核與建檔：由專人檢核貸款專員上傳之公司名片，確認其資訊與認證之資訊無誤後始進行建檔，並通過其註冊申請。</li>
								</div>
							</div>
						</div>
						<div class="accordion-group">
							<div class="accordion-heading">
								<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#loan-questions2">
								<i class="icon-plus"></i>Q2. 請問這個平台使用上需要付費嗎？</a>
							</div>
							<div id="loan-questions2" class="accordion-body collapse">
								<div class="accordion-inner">
								  請參考貸款專員申請加入頁的「收費說明」。
								</div>
							</div>
						</div>
						<div class="accordion-group">
							<div class="accordion-heading">
								<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#loan-questions3">
								<i class="icon-plus"></i>Q3. 要怎麼知道哪些消費者有貸款需求？</a>
							</div>
							<div id="loan-questions3" class="accordion-body collapse">
								<div class="accordion-inner">
									 「EZBANK」於收到消費者的貸款需求後，將由系統針對符合承做服務區域之認證貸款專員進行媒合，將貸款需求寄送至您的email信箱，並提供此筆需求之後台回覆網站連結供您進行回覆。
								</div>
							</div>
						</div>
						<div class="accordion-group">
							<div class="accordion-heading">
								<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#loan-questions4">
								<i class="icon-plus"></i>Q4. 我要怎麼主動提案給消費者？</a>
							</div>
							<div id="loan-questions4" class="accordion-body collapse">
								<div class="accordion-inner">
								收到「EZBANK」所媒合之消費者貸款需求後，您可於時效內至後台回覆網站連結完成回覆，並提供貸款條件提案。
								</div>
							</div>
						</div>
						<div class="accordion-group">
							<div class="accordion-heading">
								<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#loan-questions5">
								<i class="icon-plus"></i>Q5. 針對消費者的需求答覆之後，接下來我要怎麼做？ </a>
							</div>
							<div id="loan-questions5" class="accordion-body collapse">
								<div class="accordion-inner">
								完成貸款需求回覆與貸款條件提案後，「EZBANK」將統一彙整各貸款專員之回覆內容，連同其連絡資訊一併寄給消費者，由消費者依各專員之條件選擇與您連繫。
								</div>
							</div>
						</div>
					</div>
					<!--end: Accordion -->

				</div>	

			</div>
		</div>
	</section>

</div>
<a href="#" class="scrollup"><i class="icon-angle-up icon-square icon-bglight icon-2x active"></i></a>	

</body>