<!DOCTYPE html>
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">

<body>
<div id="wrapper">
	
	<!-- section featured -->
	<section id="featured">

			<!-- slideshow start here -->

				<div class="camera_wrap" id="camera-slide">
				
					<!-- slide 1 here -->
					<div  data-src= "<%= asset_path 'img/slides/camera/slide1/img1.jpg' %>">
						<div class="camera_caption fadeFromLeft">
							<div class="container-fluid">
								<div class="row-fluid">                                
									<div class="span6">
										<h2 class="animated fadeInDown"><strong><span class="white">e 貸宗師<br /> 最專業的房貸諮詢平台！</span></strong></h2>
										
										<a href="apply-mortgage.html" class="btn btn-success btn-large animated fadeInUp">
											<i class="icon-hand-up"></i> 立即填表詢問房貸
										</a>
									</div>
									<div class="span5">
										<%= image_tag("img/slides/camera/slide1/screen.png", class: "animated bounceInDown delay1") %>
									</div>
								</div>  
							</div>                                                                                         
						</div>
					</div>
					
					<!-- slide 2 here -->
					<div  data-src= "<%= asset_path 'img/slides/camera/slide2/img1.jpg' %>">
						<div class="camera_caption fadeFromLeft">
							<div class="container-fluid">
								<div class="row-fluid"> 
									<div class="span5">
										<%= image_tag("img/slides/camera/slide2/bank.jpg") %>
									</div>								
									<div class="span6">
										<h2 class="animated fadeInDown"><strong><span class="colored">您是房貸專員嗎？<br />現在加入，獲得更多業務來源！</span></strong></h2>
										
										<a href="join-us.html" class="btn btn-theme btn-large animated fadeInUp">
											<i class="icon-magic"></i> 立即申請加入
										</a>
									</div>

								</div>  
							</div>                                                                                         
						</div>
					</div>
					
					

				</div>

			<!-- slideshow end here --> 

	</section>
	<!-- /section featured -->
	
	<section id="content">
		<div class="container-fluid">
			<div class="row-fluid">
				<h2><span>服務特色</span></h2>
				<hr />
				<div class="span4">
					<div class="service-box aligncenter flyLeft animated fadeInLeftBig">
						<div class="icon">
							<i class="icon-circled icon-bgprimary icon-user icon-4x "></i>
						</div>
						<h5>Professional <span class="colored">專業服務</span></h5>
						<h6>
						認證的房貸專員直接與您聯繫<br/>絕非代辦中心！
						</h6>
						
					</div>
				</div>
				<div class="span4">
					<div class="service-box aligncenter flyIn animated fadeInUp">
						<div class="icon">
							<i class="icon-circled icon-bgsuccess icon-laptop icon-4x"></i>
						</div>
						<h5>Easy <span class="colored">方便又輕鬆</span></h5>
						<h6>
						填寫表格後<br/>專員提供最優惠條件供您選擇！
						</h6>
						
					</div>
				</div>
				<div class="span4">
					<div class="service-box aligncenter flyIn animated fadeInUp">
						<div class="icon">
							<i class="icon-circled icon-bgwarning icon-envelope icon-4x"></i>
						</div>
						<h5>Fast <span class="colored">保證5天內回覆！</span></h5>
						<h6>
						多家銀行專員詳細評估<br/>5天內必回覆!

						</h6>
						
					</div>
				</div>
				
			</div>
			<div class="row-fluid">
				<div class="span12">
					
				</div>			
			</div>
			<div class="row-fluid">
				<h2><span>如何申請詢問房貸？</span></h2>
				<hr />
				<div class="span12">
					<div class="row-fluid">
						<div class="span4">
							<div class="box flyLeft">
								<div class="icon">
									<i class="ico icon-circled icon-bgdark icon-check active icon-3x"></i>
								</div>
								<div class="text">
									<h4><strong>第一步：<br />填寫需求單</strong></h4>
									<h5>
									詳細填寫需求，專員針對個人條件、房屋條件、貸款需求來評估。
									</h5>
								</div>
							</div>
						</div>
					
						<div class="span4">
							<div class="box flyIn">
								<div class="icon">
									<i class="ico icon-circled icon-bgdark icon-group active icon-3x"></i>
								</div>
								<div class="text">
									<h4><strong>第二步：<br />等待專員回信</strong></h4>
									<h5>
									各個專員收到需求後，在指定時間內，提供優惠條件供您比較。
									</h5>
								</div>
							</div>
						</div>
						<div class="span4">
							<div class="box flyRight">
								<div class="icon">
									<i class="ico icon-circled icon-bgdark icon-heart active icon-3x"></i>
								</div>
								<div class="text">
									<h4><strong>第三步：<br />輕鬆選擇好貸款</strong></h4>
									<h5>
									從眾多專員評估結果，選擇最好的幾個送件申請貸款！
									</h5>
								</div>
							</div>
						</div>

					</div>
				</div>	
			</div>
			<div class="row-fluid">
				
			  <div class="span8 offset1">
				  <div class="slogan-btn">
					  <a href="apply-mortgage.html" class="btn btn-theme">心動嗎？現在就立即申請新房貸！<i class="icon-angle-right"></i></a>
				  </div>
			  </div>							

			</div>
			<div class="row-fluid">
				<h2><span>合作專員</span></h2>
				<hr />
				<div class="span12">
					<!--
					<ul class="team-categ filter">
						<li class="all active"><a href="#" title="">所有區域</a></li>
						<li class="taipei"><a href="#" title="">北北基</a></li>
						<li class="taoyuan"><a href="#" title="">桃竹苗</a></li>
						<li class="taichung"><a href="#" title="">中彰投</a></li>
						<li class="tainan"><a href="#" title="">雲嘉南</a></li>
						<li class="kaohsiung"><a href="#" title="">高雄屏東</a></li>
						<li class="yilan"><a href="#" title="">宜蘭花東</a></li>
					</ul>
					-->

					<div class="clearfix"></div>
					<div class="row-fluid">
						<section id="team">
							<ul id="thumbs" class="team">
								
								<!-- Item Project and Filter Name -->
								<li class="item-thumbs span3" data-id="id-1" data-type="taoyuan">
									<div class="team-box thumbnail">
									  <%= image_tag("img/dummies/team/10.jpg") %>
									  <div class="caption">
										<h6>您是房貸專員？ </h6>
										
										<a href="join-us.html" class="btn btn-primary"><i class="icon-file"></i> 立即申請加入！</a>
										
										
									  </div>
									</div>
								</li>
								<!-- End Item Project -->

								<% @lenders.all.each do |lender| %>

									<!-- Item Project and Filter Name -->
									<li class="item-thumbs span3 " data-id="id-4" data-type="kaohsiung">
										<div class="team-box thumbnail">
										  
										  <%= image_tag lender.avatar.url(:medium) %>
										  <div class="caption">
											<h6><%= lender.bank %> <%= lender.name[0]%><%= lender.work_title %></h6>
											<p></p>

											<ul class="social-network">
												<% if lender.is_phone_confirmed %>
													<li><a href="#" title="電話認證"><i class="icon-circled icon-bgsuccess icon-mobile-phone"></i></a></li>
												<% end %>

												<% if lender.is_mail_confirmed %>
													<li><a href="#" title="信箱認證"><i class="icon-circled icon-bgsuccess icon-file"></i></a></li>
												<% end %>

												<% if lender.is_mail_confirmed %>
													<li><a href="#" title="查核建檔"><i class="icon-circled icon-bgsuccess icon-ok-sign"></i></a></li>
												<% end %>

											</ul>
										  </div>
										</div>
									</li>
									<!-- End Item Project -->

								<% end %>
								
								
								
								

							</ul>
						</section>
						
					</div>
				</div>			
			</div>
			<div class="row-fluid">
				<div class="span12">
					<div class="solidline"></div>
				</div>			
			</div>
			
			<div class="row-fluid">
				<div class="span12">
					<div class="row-fluid">
						<div class="span12">
							<div class="aligncenter">
								<h3><strong>我們的收費</strong></h3>
								<p><h4>目前免費試用中！你還在等什麼呢？！</h4>
								</p>
							</div>
						</div>
					</div>

					
					<div class="row-fluid">
						<div class="span4 offset4">
							<div class="pricing-box-wrap special animated-slow flyIn">
								<div class="pricing-heading">
									<h3><strong>免費試用中</strong></h3>
								</div>
								<div class="pricing-terms">
									<h6>一次將您的需求<br />發送給所有專員</h6>
								</div>	
								<div class="pricing-content">
									<ul>
										<li><i class="icon-ok"></i> 無須支付任何詢問費用！</li>
										<li><i class="icon-ok"></i> 一次詢問多個專員！</li>
										<li><i class="icon-ok"></i> 不被專員電話打擾！</li>
										<li><i class="icon-ok"></i> 保證5天內回覆！</li>
										<li><i class="icon-ok"></i> 自由選擇最優惠方案聯繫！</li>
									</ul>
								</div>	
								<div class="pricing-action">	
									<a href="apply-mortgage.html" class="btn btn-medium btn-theme"><i class="icon-chevron-down"></i> 立即詢問新房貸！</a>
								</div>						
							</div>				
						</div>
						
						
					</div>

				</div>	


			</div>	
			<div class="row-fluid">
				<div class="span12">
					<div class="solidline"></div>
				</div>			
			</div>
	

			<div class="row-fluid">
				<div class="span12 aligncenter">
					<h3 class="title"><strong>用過的朋友都怎麼說？</strong></h3>
					<div class="blankline20"></div>

					<ul class="bxslider">
						<li>
							<blockquote>
							  <h3>比仲介提供的貸款條件更好<br />重點是不花一分錢就可以體驗這服務！</h3>
							</blockquote>
							<div class="testimonial-autor">
								<h3>新北市 吳小姐</h3>
							</div>
						</li>
						<li>
							<blockquote>
							  <h3>不用再一個個打電話講一樣的事情<br />真的很輕鬆！</h3>
							</blockquote>
							<div class="testimonial-autor">
								<h3>台北市 陳先生</h3>
							</div>
						</li>
						
						
					</ul>
				      <div class="blankline20"></div>
				</div>	
			</div>				
			
		</div>
	</section>
	<section id="faq">
	    <div class="container-fluid">
	      <div class="row-fluid">
		      <div class="span12">
			      <div class="solidline"></div>
		      </div>			
	      </div>
	      <div class="row-fluid">
		  <div class="span12">
		    <h3 class="title aligncenter"><strong>申請常見問題</strong></h3>	  
		     
		    <div class="row-fluid">
			<!-- start: Accordion -->
			  <div class="accordion" id="accordion2">
				  <div class="accordion-group">
					  <div class="accordion-heading">
						  <a class="accordion-toggle active" data-toggle="collapse" data-parent="#accordion2" href="#collapse1">
						  <i class="icon-minus"></i>Q1. 在「e貸宗師」上申請貸款需要費用嗎？</a>
					  </div>
					  <div id="collapse1" class="accordion-body collapse in">
						  <div class="accordion-inner">
						    不需要喔！「e貸宗師」是貸款媒合平台，非代辦中心，目前在「e貸宗師」上申請貸款不需要支付任何費用。 
						  </div>
					  </div>
				  </div>
				  <div class="accordion-group">
					  <div class="accordion-heading">
						  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse2">
						  <i class="icon-plus"></i>Q2. 你們如何進行貸款專員的認證？</a>
					  </div>
					  <div id="collapse2" class="accordion-body collapse">
						  <div class="accordion-inner">
						    為了提供用戶更有保障的專業服務，所有貸款專員註冊時需提供以下詳細資料：
						    <li>真實姓名</li>
						    <li>公司與分行資料</li>
						    <li>公司電話</li>
						    <li>公司傳真</li>
						    <li>行動電話</li>
						    <li>公司email</li>
						    <li>承做服務區域</li>
						    <li>名片圖檔上傳</li>
						    <li>個人大頭照上傳</li>
						    <br />
						    收到貸款專員註冊申請後，我們將進行以下「職業認證」：
						    <li>email認證：由系統寄發email認證信至貸款專員之公司email信箱，確認完成系統認證後，由專人檢核所填之email信箱為公司專用網域，避免貸款專員以私人信箱進行認證。</li>
						    <li>電話認證：由專人於上班時間致電貸款專員之公司，確保服務公司之資訊無誤。</li>
						    <li>名片查核與建檔：由專人檢核貸款專員上傳之公司名片，確認其資訊與認證之資訊無誤後始進行建檔，並通過其註冊申請。</li>
						  </div>
					  </div>
				  </div>
				  <div class="accordion-group">
					  <div class="accordion-heading">
						  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse3">
						  <i class="icon-plus"></i>Q3. 提出貸款需求會使我的個人資料曝光嗎？</a>
					  </div>
					  <div id="collapse3" class="accordion-body collapse">
						  <div class="accordion-inner">
							   不會。您提出您的貸款需求後，我們將隱匿您的真實姓名與個人連絡資訊，再由系統發送您的需求給符合承做服務區域，且經過認證之貸款專員。貸款專員需於時效內至「e貸宗師」後台系統完成回覆，並提供貸款條件提案。「e貸宗師」將統一彙整各貸款專員之回覆內容，連同其連絡資訊一併寄給您。您的個人資料不會曝光。
						  </div>
					  </div>
				  </div>
				  <div class="accordion-group">
					  <div class="accordion-heading">
						  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse4">
						  <i class="icon-plus"></i>Q4. 提出貸款需求後，接下來我要怎麼做？</a>
					  </div>
					  <div id="collapse4" class="accordion-body collapse">
						  <div class="accordion-inner">
						  提出貸款需求後，您的貸款需求將由系統發送給媒合之貸款專員，「e貸宗師」將統一彙整各貸款專員之回覆內容，連同其連絡資訊一併寄給您。您可依各專員之條件選擇與其連絡。
						  </div>
					  </div>
				  </div>
				  <div class="accordion-group">
					  <div class="accordion-heading">
						  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse5">
						  <i class="icon-plus"></i>Q5. 跟壽險業者申辦房貸，需要是他們的保戶嗎？需要搭配買保險嗎？ </a>
					  </div>
					  <div id="collapse5" class="accordion-body collapse">
						  <div class="accordion-inner">
						  不需要。許多壽險業者皆有提供房貸服務，申請貸款者不需是他們的保戶，通常也不需要搭配購買保險，如有特殊需求，壽險房貸專員將於回覆需求時一併告知，以供您參考。
						  </div>
					  </div>
				  </div>
			  </div>
			  <!--end: Accordion -->
		  </div>
		</div>
	      </div>
	  </div>
	</div>

</div>
<a href="#" class="scrollup"><i class="icon-angle-up icon-square icon-bglight icon-2x active"></i></a>	

</body>
</html>