<!DOCTYPE html>
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">

<body>
<div id="wrapper">
	
	<!-- section featured -->
	<section id="featured">

			<!-- slideshow start here -->

				<div class="camera_wrap" id="camera-slide">
				
					<!-- slide 1 here -->
					<div  data-src= "<%= asset_path 'img/slides/camera/slide1/img1.jpg' %>">
						<div class="camera_caption fadeFromLeft">
							<div class="container">
								<div class="row">                                
									<div class="span6">
										<h2 class="animated fadeInDown"><strong><span class="white">EZBANK<br /> 讓您「輕鬆取得優惠房貸」！</span></strong></h2>
										
										<a href="apply-mortgage.html" class="btn btn-success btn-large animated fadeInUp">
											<i class="icon-hand-up"></i> 立即填表申請房貸
										</a>
									</div>
									<div class="span5">
										<%= image_tag("img/slides/camera/slide1/screen.png", class: "animated bounceInDown delay1") %>
									</div>
								</div>  
							</div>                                                                                         
						</div>
					</div>
					
					<!-- slide 2 here -->
					<div  data-src= "<%= asset_path 'img/slides/camera/slide2/img1.jpg' %>">
						<div class="camera_caption fadeFromLeft">
							<div class="container">
								<div class="row"> 
									<div class="span5">
										<%= image_tag("img/slides/camera/slide2/logo.png") %>
									</div>								
									<div class="span6">
										<h2 class="animated fadeInDown"><strong><span class="white">『foundi 房地資訊站』<br /> 讓每一個使用者都能更快找到心目中最理想的房子</span></strong></h2>
										
										<a href="http://www.foundi.info/" target="_blank" class="btn btn-theme btn-large animated fadeInUp">
											<i class="icon-magic"></i> 立即前往
										</a>
									</div>

								</div>  
							</div>                                                                                         
						</div>
					</div>
					
					

				</div>

			<!-- slideshow end here --> 

	</section>
	<!-- /section featured -->
	
	<section id="content">
		<div class="container">
			<div class="row" style="margin-bottom:0px">
				<div class="span12">
					<h2><span>我們的服務</span></h2>
					<hr/>
				</div>
			</div>
			<div class="row">
				<div class="span4">

					<div class="service-box aligncenter flyLeft animated fadeInLeftBig">
						<div class="icon">
							<i class="icon-circled icon-bgprimary icon-user icon-4x "></i>
						</div>
						<h5>服務項目一：<span class="colored">問房貸</span></h5>
						<h6>
							填寫需求單
							<br/>
							回覆您銀行房貸條件
							<br/>
							以及銀行專員聯絡方式
						</h6>
						<a href="#" class="btn btn-medium btn-danger">申請房貸評估</a>				
					</div>
				</div>

				<div class="span4">

					<div class="service-box aligncenter">
						<div class="icon">
							<i class="icon-circled icon-bgwarning icon-credit-card icon-4x "></i>
						</div>
						<h5>服務項目二：<span class="colored">問信貸</span></h5>
						<h6>
							填寫需求單
							<br/>
							回覆您銀行信貸條件
							<br/>
							以及銀行專員聯絡方式
						</h6>
						<a href="#" class="btn btn-medium btn-danger">申請信貸評估</a>				
					</div>
				</div>

				<div class="span4">
					<div class="service-box aligncenter flyIn animated fadeInUp">
						<div class="icon">
							<i class="icon-circled icon-bgsuccess icon-briefcase icon-4x"></i>
						</div>
						<h5>服務項目二：<span class="colored">找代辦</span></h5>
						<h6>
							合法代辦,快速回覆
							<br/>
							信用貸款,車輛抵押,房屋增貸, 債務整合
							<br>
							數家代辦供您選擇
						</h6>
						<a href="#" class="btn btn-medium btn-danger">找代辦</a>	
					</div>
				</div>
				
			</div>
			
			<!-- <div class="row">
				<h2><span>如何申請詢問房貸？</span></h2>
				<hr />
				<div class="span12">
					<div class="row">
						<div class="span4">
							<div class="box flyLeft">
								<div class="icon">
									<i class="ico icon-circled icon-bgdark icon-check active icon-3x"></i>
								</div>
								<div class="text">
									<h4><strong>第一步：<br />填寫需求單</strong></h4>
									<h5>
									詳細填寫需求，專員針對個人條件、房屋條件、貸款需求來評估。
									</h5>
								</div>
							</div>
						</div>
					
						<div class="span4">
							<div class="box flyIn">
								<div class="icon">
									<i class="ico icon-circled icon-bgdark icon-group active icon-3x"></i>
								</div>
								<div class="text">
									<h4><strong>第二步：<br />等待專員回信</strong></h4>
									<h5>
									各個專員收到需求後，在指定時間內，提供優惠條件供您比較。
									</h5>
								</div>
							</div>
						</div>
						<div class="span4">
							<div class="box flyRight">
								<div class="icon">
									<i class="ico icon-circled icon-bgdark icon-heart active icon-3x"></i>
								</div>
								<div class="text">
									<h4><strong>第三步：<br />輕鬆選擇好貸款</strong></h4>
									<h5>
									從眾多專員評估結果，選擇最好的幾個送件申請貸款！
									</h5>
								</div>
							</div>
						</div>

					</div>
				</div>	
			</div> 

			<div class="row">
				
			  <div class="span8">
				  <div class="slogan-btn">
					  <a href="apply-mortgage.html" class="btn btn-theme">心動嗎？現在就立即申請新房貸！<i class="icon-angle-right"></i></a>
				  </div>
			  </div>							

			</div>

			-->

			<div class="row">
				<div class="span6 aligncenter">
					<h2>貸款知識家</h2>
					<hr>
					<div class="service-box" style="height:250px">
						<h5 style="text-align:left;margin:0 10px">Q: 我買的房子為什麼沒有銀行願意承作貸款?</h5>
						<hr style="margin:10px 10px">
						<pre style="height:100px; margin:10px 10px;font-size:17px;padding:10px;text-align:left">每家銀行都有承作房貸的條件，例如：有些銀行針對較偏遠的地區不承作貸款，或針對貸款金額或不動產估價太低、坪數太小、登記為工業用及商業用途者的物件不承作。</pre>
						<%= link_to "看更多", knowledges_path, :class => "btn btn-medium btn-info" %>
					</div>		
				</div>
				<div class="span6">
					<h2>最新消息</h2>
					<hr>
					<!-- <div class="service-box" style="height:250px"> -->

						<!-- <p style="padding-left:10px">更新時間: 2014/09/05</p> -->
						<!-- <hr style="margin: 10px 0px"/> -->
						<!-- <marquee  behavior="scroll" direction="up">		 -->
							
							<% 8.times do |num| %>
								<p>
									<span style="font-weight: bold">2014/8/25</span> 
									<%= link_to "Mark 成功申請了 500 萬新房貸",root_path %>
								</p>
							<% end %>
							
						<!-- </marquee> -->
							
						
					<!-- </div> -->
				</div>
			</div>


			<div class="row">
				
				<div class="span12">

					<h2>合作專員&nbsp;
						<span style="font-size:18px">目前有 <%= Lender.all.size %> 位專員</span>
					</h2>
					<hr />

					<div class="clearfix"></div>

					<div class="row">
						<section id="team">
							<ul id="thumbs" class="team">

								<% @lenders.all.each do |lender| %>

									<!-- Item Project and Filter Name -->
									<li class="item-thumbs span3 " data-id="id-4" data-type="kaohsiung">
										<div class="team-box thumbnail">
										  
											<% if lender.avatar_file_name != nil %>
										  	<%= image_tag lender.avatar.url(:thumb) %>
										  <% else %>
										  	<% if lender.is_male %>
										  		<!-- show male pic -->
												<%= image_tag("img/dummies/team/man.jpg") %>
										  	<% else %>
										  		<!-- show female pic -->
												<%= image_tag("img/dummies/team/woman.jpg") %>
										  	<% end %>
										  <% end %>

										  <div class="caption">
												<h6><%= lender.bank %> <%= lender.name[0]%><%= ( lender.is_male )? "先生" : "小姐" %> </h6>
												<p></p>

												<ul class="social-network">
													<% if lender.is_phone_confirmed == true %>
														<li><a href="#" title="電話認證"><i class="icon-circled icon-bgsuccess icon-mobile-phone"></i></a></li>
													<% end %>

													<% if lender.is_mail_confirmed == true %>
														<li><a href="#" title="信箱認證"><i class="icon-circled icon-bgsuccess icon-file"></i></a></li>
													<% end %>

													<% if lender.is_person_confirmed == true %>
														<li><a href="#" title="查核建檔"><i class="icon-circled icon-bgsuccess icon-ok-sign"></i></a></li>
													<% end %>

												</ul>
										  </div>
										</div>
									</li>
									<!-- End Item Project -->

								<% end %>
								
							</ul>
						</section>
						
					</div>
				</div>			
			</div>
			
			<div class="row">
				<div class="span12 aligncenter">
					<hr />

					<h3 class="title"><strong>用過的朋友都怎麼說？</strong></h3>
					<div class="blankline20"></div>

					<ul class="bxslider">
						<li>
							<blockquote>
							  <h3>比仲介提供的貸款條件更好<br />重點是不花一分錢就可以體驗這服務！</h3>
							</blockquote>
							<div class="testimonial-autor">
								<h3>新北市 吳小姐</h3>
							</div>
						</li>
						<li>
							<blockquote>
							  <h3>不用再一個個打電話講一樣的事情<br />真的很輕鬆！</h3>
							</blockquote>
							<div class="testimonial-autor">
								<h3>台北市 陳先生</h3>
							</div>
						</li>					
					</ul>
				</div>	
				
			</div>				
			
		</div>
	</section>
	
</div>
<a href="#" class="scrollup"><i class="icon-angle-up icon-square icon-bglight icon-2x active"></i></a>	

</body>
</html>