<section id="content">
		<div class="container">


			<div class="row">			
				<div class="span12">
					<h2>服務流程</h2>
					<hr>
				</div>
			</div>


			<div class="row">

				<div class="span3">
					<div class="box">
						<div class="icon">
							<i class="ico icon-circled icon-bgdark active icon-2x">
								1
							</i>
						</div>
						<div class="text">
							<h4>免費諮詢，解答貸款疑問</h4>
							<p>
								提供您免費的貸款疑問諮詢，包括：房屋貸款估價，信貸條件評估，貸款陷阱提醒等，提高您貸款機率。
							</p>
						</div>
					</div>
				</div>
			
				<div class="span3">
					<div class="box">
						<div class="icon">
							<i class="ico icon-circled icon-bgdark active icon-2x">
								2
							</i>
						</div>
						<div class="text">
							<h4>提供多家貸款銀行條件</h4>
							<p>
								了解您的貸款需求後，立即為您詢問多家銀行，
								<strong>三天內</strong>
								回覆各家銀行條件，讓您輕鬆取得較優惠貸款。
							</p>
						</div>
					</div>
				</div>

				<div class="span3">
					<div class="box">
						<div class="icon">
							<i class="ico icon-circled icon-bgdark active icon-2x">
								3
							</i>
						</div>
						<div class="text">
							<h4>媒合正式合格的銀行專員</h4>
							<p>
								為您媒合正式合格的該銀行專員，協助填寫貸款申請書，向銀行提出貸款申請。
							</p>
						</div>
					</div>
				</div>

				<div class="span3">
					<div class="box">
						<div class="icon">
							<i class="ico icon-circled icon-bgdark active icon-2x">
								4
							</i>
						</div>
						<div class="text">
							<h4>成功核貸，收取服務費</h4>
							<p>
								成功核貸時，我們會提供您付費連結，可以網路信用卡付款，ATM轉賬，手機支付，超商代收等，節省您寶貴時間。
							</p>
						</div>
					</div>
				</div>

			</div>



			<div class="row">			
				<div class="span12">
					<h2>收費定價</h2>
					<hr>
				</div>
			</div>

				<div class="span12 aligncenter">
					<div class="span5 offset3">
					<div class="pricing-box-wrap special">
						<div class="pricing-heading">
							<h3><strong>詳細定價</strong></h3>
						</div>

						<div class="pricing-content">
							<ul>						
								<li style="padding: 25px 0 25px 0"><i class="icon-ok"></i> 	
									<strike>貸款少於100萬，$2千</strike>
								</li>
								<li style="padding: 25px 0 25px 0"><i class="icon-ok"></i> 	
									<strike>貸款201~400萬，$4千</strike>
								</li>
								<li style="padding: 25px 0 25px 0"><i class="icon-ok"></i> 
									<strike>貸款401~600萬，$6千</strike>
								</li>
								<li style="padding: 25px 0 25px 0"><i class="icon-ok"></i> 
									<strike>貸款601~800萬，$8千</strike>
								</li>
								<li style="padding: 25px 0 25px 0"><i class="icon-ok"></i> 
									<strike>貸款801~1000萬以上，$1萬</strike>
								</li>
							</ul>
						</div>

						<div class="pricing-terms">
							<h6>
								<strike>1000萬以上，$1萬</strike>
							</h6>
						</div>

					</div>

					</div>
				</div>

				<div class="row">
					<div class="span12 aligncenter" style="margin-top: 30px;">
						<h1 class="title">
							<strong style="color:#e96b56">
								限時優惠至 2014/12/31日
							</strong>
						</h1>
						<div class="blankline30"></div>

						<ul class="bxslider">
							<li>
								<blockquote>
									<h2>
										口碑服務早鳥顧客，<br>
										所有服務無差別定價，<br> 
										只收 NT$2000!
									</h2>
								</blockquote>
							</li>
						</ul>

					</div>
				</div>


			<div class="row" style="margin-bottom: 0px">
				<div class="span12">
					<div class="cta-box" style="background: #F5FAFF">
						<div class="row">
							<div class="span6">
								<div class="cta-text">
									<h2>立即 <span>免費</span> 申請諮詢
									</h2>
								</div>
							</div>
							<div class="span6">
								<div class="cta-btn">
									<%= link_to  apply_case_path, :class => "btn btn-success" do %>
										免費申請諮詢<i class="icon-angle-right"></i>
									<% end %>
								</div>
							</div>							
						</div>
					</div>
				</div>	
			</div>

			<div class="row">
				<div class="span12">
					<div class="cta-box" style="background: #F5FAFF">
						<div class="row">
							<div class="span6">
								<div class="cta-text">
									<h2>直接加<span style="color:#0FDB46">LINE</span>諮詢</h2>
								</div>
							</div>
							<div class="span6">
								<div class="cta-btn">
									<div class="btn btn-medium btn-danger">LINE ID: ezbank-service</div>
								</div>
							</div>						
						</div>
					</div>
				</div>	
			</div>

		</div>
</section>
