<body>

<div id="wrapper">
	<section id="inner-headline">
		<div class="container">
			<div class="row-fluid">
				<div class="span12">
					<div class="inner-heading">
					<h2>隱私權聲明</h2>
					</div>
				</div>	
			</div>			
		</div>
	</section>
	
		<section id="content">
		<div class="container">
			<div class="row-fluid">

				<div class="span12">
					<h5><p>
本隱私權政策載明「EZBANK」（以下稱「本網站」）對於維護隱私的實踐方針。您在本網站因使用各項服務所登錄之個人資料，我們除嚴格遵守中華民國民法、刑法、個人資料保護法及相關隱私權保護之法律外，更以嚴謹的態度與具體作為，管理及保護您的個人資料，對於任何違法盜用或揭露您個人資料的不法及不當行為，我們將採取必要的法律作為，以確保您個人隱私的安全。
</p>
<p>
  以下是本網站的隱私權政策，敬請詳細閱讀。通過繼續連結或者使用本網站，代表您已經閱讀、瞭解並且同意接受(您並同意被視為以書面接受)本隱私政策中所有條款以及同意受本網站所有使用條款的約束。如果您不同意本隱私政策及條款，請您退出本網頁或本網站下任何網頁，並不再連結或使用本網站。您如果對於本網站的隱私權政策、或與個人資料有關之相關事項有任何疑問，可以利用電子郵件(service@ezbank.com.tw)和本網站聯絡，本網站將儘快回覆說明。
</p>
					</h5>



<h5>
一、個人資料取得
</h5>
<p>
本網站對個人資料的收集，將嚴格遵守中華民國「個人資料保護法」之規範，用戶同意本網站取得下述資料：
 </p>
 <p>
(一) 利用特定功能所必需之個人資料：
</p>
 <p>
1. 一般用戶：
</p>
 <p>
(1) 原則上，您進入本網站時，並不需要輸入個人資料，例如姓名、電子郵件地址或電話等，除非明確告知，本網站不會在您不知情的情況下，取得您此等個人資料。
</p>
 <p>
(2) 當您欲填寫「我要申請貸款」訊息時，本網站會要求您登錄個人資料，以便於和您聯繫、完成交易、提供服務、或處理相關程序；在此等情況下，本網站將明白告知您此等事實，如果您選擇不接收任何服務或提供任何聯繫資訊，本網站將完全尊重。
</p>
 <p>
2. 貸款業務員會員：
</p>
 <p>
(1) 若需以貸款業務員身分註冊，則必須提供正確之任職公司名稱，分行，個人頭像，公司電話，公司傳真，手機號碼，電子郵件地址，承作服務地區，名片圖像供網站認證及使用。
</p>
 <p>
(2) 貸款業務員會員需依本網站「貸款業務員會員使用條款」支付本網站服務費，故當貸款業務員會員在本網站進行加值時，本網站會視付款方式要求提供信用卡號碼、信用卡到期日等必要資訊；於有寄送發票之必要時，本網站會另請貸款業務員會員提供地址以利寄送。
 </p>
 <p>
 (二) 其他個人資料：
 </p>
 <p>
1. 一般用戶：
進入本網站相關網站時，即表示本網站會記錄用戶上站的位址以及在本網站相關網站內的瀏覽活動等資料。
 </p>
 <p>
2. 貸款業務員會員：
除以上記錄外，本網站尚會記錄貸款業務員會員透過本網站進行之貸款業務招攬行為及資料，並且搜集一般用戶或其他會員在信用評價區對貸款業務員會員的意見。貸款業務員會員於支付本網站的服務費用時，本網站也會視付款方式記錄付款位址等相關資料。

</p>

<h5>
二、個人資料的利用
</h5>
<p>
(一) 註冊及利用特定功能所必需之個人資料：會員註冊成為本網站會員，及會員與一般用戶利用本網站特定功能時所提供的個人資料，僅供本網站相關網站依照規定的使用目的和範圍加以使用。
</p>
<p>
 (二) 其他個人資料：本網站於相關網站所取得的一般用戶之其他個人資料，僅供本網站相關網站作流量分析和用戶的網路行為調查，以便於改善本網站相關網站的服務品質，而該等資料並不會和特定的用戶相連結。
</p>
<p>
 (三) 本網站所取得的您個人資料，都僅供本網站於其內部、依照原來所說明的使用目的和範圍使用，除非事先說明、或依照相關法律規定，否則本網站不會將您個人資料提供給第三人、或移作其他目的使用。
</p>
<p>
 (四) 會員與用戶如透過討論區或留言板主動提供或公開任何個人資料，均由會員與用戶自行負責，且並不再適用本網站隱私權政策之保護；會員與用戶於其他不屬於本網站之網站或網頁主動提供個人資訊時，此等網站或網頁因有其個別的隱私權政策，其資料處理措施亦不適用本網站隱私權政策。
</p>
<p>
 (五) 為提供精確的服務，我們市場研究部會針對您登錄及填寫之資料，進行統計與分析，例如針對您貸款之需求條件、所在地區等為研究。分析結果之呈現方式僅有整體之數據及說明文字，除供內部研究外，我們會視需要對外以記者會或公關稿之方式，公佈該等數據及說明文字，但不涉及特定個人資料之揭露。
</p>



<h5>
三、資料安全 
</h5>
<p>
(一) 本網站已與所有從業人員簽署保密契約，保密範圍含括您未公開於網站上的個人連絡資料，我們會善盡保密之義務。
</p>
<p>
(二) 本網站將盡力以合理之技術及程序，保障所有個人資料之安全。除此之外，我們為防止外人非法入侵本網站資料庫系統，我們已裝設防火牆系統，並有專人負責資料庫之管理及維護工作。本網站設有系統監控機制，對於異常的瀏覽行為進行觀測，如有異常，系統將啟動異常警示，視需要暫時停止行為異常的用戶，繼續使用相關功能。
</p>


<h5>
四、查詢或更正的方式 
</h5>
<p>
您個人資料有變更、或發現個人資料不正確的時候，可以隨時聯絡本網站要求更正，要求刪除、停止處理、利用前開個人資料或停止寄發相關訊息。除您本人有權管理及維護個人資料外，本網站客服人員對於資料不全或不正確之檔案，可能涉有不實刊登或個人資料顯係不實，有違反公序良俗或已涉有犯罪之疑慮者，我們有權暫時將檔案關閉。此外，在經過確認身分程序後，本網站客服人員亦會應您的請求，為您提供輸入更新內容之服務。
</p>

<h5>
五、連結 
</h5>
<p>
本網站相關網站或網頁都可能包含其他不屬於本網站之網站或網頁的連結，對於此等不屬於本網站之網站或網頁，均與本網站無關，本網站對此亦不負任何責任。
</p>


<h5>
六、Cookie 
</h5>
<p>
本網站伺服器會自動記錄您所瀏覽之網頁、所來自之 IP 位址，作為網站內容與系統改進評估之參考，不涉及您的個人資料，這些資料也只是總量上的分析，不會和特定個人相連繫。若您不希望接受 cookie，請自行利用瀏覽器之設定加以排除，或與本網站之客服信箱聯絡。
</p>


<h5>
七、您個人資料的對外提供
</h5>
<p>
當司法警察機關基於偵查犯罪之公益目的或為保護受害當事人之合法權益， 我們基於公共利益之考量，將配合司法警察機關提供特定會員與用戶之個人資料。
 </p>


<h5>
八、隱私權政策的修改及公佈
</h5>
<p>
本網站的隱私權政策會隨著政府相關法律規定或需要而有所變更，本隱私權政策未盡事宜，皆係以中華民國個人資料保護法為準。本網站會將隱私權政策的所有變更都隨時張貼在此網頁上供會員與用戶閱讀，而隱私權政策於變更後將於本網站上公佈新修改後之內容，供您閱覽。當您使用特定服務時，請一併閱覽與該服務相關之隱私權保護政策。如果您不同意本聲明，請立即停止使用本網站服務。
</p>


				</div>	

			</div>
		</div>
	</section>

</div>
<a href="#" class="scrollup"><i class="icon-angle-up icon-square icon-bglight icon-2x active"></i></a>	


</body>