<body>

<div id="wrapper">

	<section id="inner-headline">
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span12">
					<div class="inner-heading">
					<h2>服務條款</h2>
					</div>
				</div>	
			</div>			
		</div>
	</section>
	
	<section id="content">
		<div class="container-fluid">
			<div class="row-fluid">

				<div class="span12">
					<h5>歡迎您使用EZBANK(以下稱本網站)服務，請先詳閱以下約定條款：</h5>

<h5>
一、同意條款
</h5>
<p>
(一) 本網站係依據本服務條款提供服務。本條款訂定之目的，即在於盡可能保護會員的權益，同時確認本公司與會員之間的契約關係。當用戶已登記加入會員或使用服務之後，即表示已閱讀、瞭解並同意接受本服務條款之所有內容，並完全接受本服務現有與未來衍生的服務項目及內容。本網站有權於任何時間修改或變更本服務條款之內容，修改後的服務條款內容將公佈網站上，本網站將不會個別通知會員與用戶，建議會員與用戶隨時注意該等修改或變更。會員與用戶於任何修改或變更後繼續使用本服務時，視為會員與用戶已閱讀、瞭解並同意接受該等修改或變更。若不同意上述的服務條款修訂或更新方式，或不接受本服務條款的其他任一約定，會員與用戶應立即停止使用本服務。
</p>
(二) 若會員與用戶為未滿二十歲之未成年人，應於會員與用戶的家長（或監護人）閱讀、瞭解並同意本約定書之所有內容及其後修改變更後，方得註冊為會員、使用或繼續使用本服務。當會員與用戶使用或繼續使用本網站時，即推定其家長（或監護人）已閱讀、瞭解並同意接受本約定書之所有內容及其後修改變更。
</p>
<p>
(三) 本公司依本網站「隱私權政策」蒐集、處理及利用包含但不限於用戶本人(或其代表人)之姓名、身分證字號、其他足資辨識身分之證明文件、住址、聯絡電話、個人資料或電子信箱。會員與用戶得自由選擇填具個人資料，惟若其提供之資料不足或有誤時，本公司將無法核准申辦或無法完成您所要求的產品及／或服務。
</p>

<p>
(四) 本網站於會員申請使用本網站服務時所揭載之注意事項、本網站服務之相關使用規則或規範、會員使用本網站服務之期間內本系統內之公告及說明等，均視為本服務條款之一部份，關於本服務條款所未約定之事項，應優先適用該等注意事項、使用規則或規範、公告及說明等之約定內容。
</p>
<p>
(五) 雙方同意，本網站得經事先通知後，變更或修改本服務條款，會員如不同意該等變更或修改，得於通知期間內停止使用本網站服務；如會員未於通知期間內表達其將停止使用本網站服務、或於該期間期滿後繼續使用本網站服務，即視為會員已同意變更或修改後之約定內容。如會員不同意變更或修改後之內容，本網站得終止提供本網站服務。
</p>
<p>
  (六) 開始使用本網站之前，用戶應明瞭本網站目前僅作為媒合平台用途，並無法保證貸款契約之成立，或貸款契約之內容、服務品質。用戶應經過和業務員之充分溝通和自由判斷，選擇合適之業務員及貸款產品；對於用戶基於本公司所媒合之任何貸款契約之締結、履行等所生之任何爭議事項，用戶應理解本網站並不負任何責任。
</p>
<h5>
二、使用須知
</h5>
<p>
(一) 用戶一旦註冊本站帳號或使用本網站，即代表同意本網站在合理服務的範圍之內，使用個人資料之內容。本網站不會主動於公開網頁(意指，無須經過任何帳號密碼查驗登入，即可瀏覽之網頁)上顯示一般用戶之個人連絡資料欄位(例如：姓名、電話、e-mail等)，其餘個人資料內容，用戶同意本網站得使用非得以直接或間接識別之片段性基本資料，作為本網站刊登用戶之留言或使用本網站之必要行為之用；對於通過「職業認證」之貸款業務員會員，為便利其從事貸款業務之招攬，本網站於獲得其同意後得公佈與從事業務招攬相關之個人資料。
</p>
<p>
 (二) 會員應隨時確保註冊資料的真實性、同一性：若會員提供任何錯誤、不實、偽造、變造、過時，或不完整、具誤導性，或冒用他人名義的資料，或本公司有理由懷疑前述資料為錯誤、不實、偽造、變造、過時，或不完整、具誤導性，或冒用他人名義，本公司得單方面拒絕註冊申請，或暫停、終止該帳號之使用。相關之法律責任並應由各該會員自行承擔。
</p>
<p>
(三) 若用戶係貸款業務員會員時，每人僅能登錄一個帳號；此係為避免使用多組分身帳號騷擾、影響其他會員的使用，或是以分身帳號從事嚴重影響本網站使用環境及公平性的行為，若業務員會員有重覆註冊，或經他人檢舉為分身帳號的情況，本公司得拒絕重覆之註冊申請、終止分身帳號之使用。如情節重大，本公司亦可將該會員列為拒絕往來戶，永久不得使用本網站之服務。
</p>
<p>
(四) 貸款業務員會員若選擇「職業認證」服務，應提出身分證明資料：註冊為業務員會員之用戶，為了能參與本網站之提案與媒合之機會，應通過本網站的「職業認證」。為進行「職業認證」的審查，本公司有權要求業務員會員提出身分證明資料，審查通過後方成為於本網站中依規定得以從事業務行為之經認證業務員會員，詳見本網站「隱私權政策」。
</p>
<p>
三、會員服務：
(一) 一般用戶如有貸款之需求，不需註冊本網站會員，即可使用本網站提供之貸款媒合服務。 

(二) 因註冊並通過本網站「職業認證」之貸款業務員會員，本網站所提供予您之所有相關功能以及其他服務內容，其權益均屬本公司或其他合法權利人所有，貸款業務員會員除僅得於服務期間內依本會員條款或其他個別服務條款之約定為使用外，不得以任何方式將會員權益轉讓、移轉、出租或出借予其他任何第三人。 

(三) 會員服務僅依當時所提供之功能及狀態提供服務；本公司並保留新增、修改或取消會員服務內相關系統或功能之全部或一部之權利。 
</p>
<h5>
四、會員行為：
</h5>
<p>
(一) 一般用戶：
1. 用戶不得為任何非法目的或以任何非法方式使用本網站，並承諾遵守中華民國法律之規定及相關網際網路之國際慣例。若係中華民國以外地區之用戶，並應遵守所屬國家或地域之法令。
2. 會員違反本服務條款時，本網站得指定適當期限要求改正，如會員未於期限內改正、或依其情形無從改正，本網站得終止本網站服務。
3. 會員涉及違法行為時，本網站得不待催告，立即終止提供本網站服務。
</p>
<p>
 
(二) 貸款業務員會員
除一般用戶所必須遵守之事項外，貸款業務員會員同時應遵守中華民國銀行法及金管會其它相關職業規範。貸款業務員會員並應擔保：
 
1.本網站所提供之資料，僅供個人業務之正當使用，若將該等資料提供予任何第三人或為任何商業行為而衍生之損害，一律自行負責，與本網站無涉；若因此至本公司產生任何損害，本公司有權向其求償，並得要求其支付一切因此衍生之費用(包括但不限於訴訟費用、律師費)。
2.不得違反依中華民國相關法令或契約所應負之保密義務。
3.為貸款業務之招攬時，不得使用多組分身帳號等方式影響其他會員的使用，或是以分身帳號等方式從事嚴重影響本網站使用環境及公平性的行為；一經發現或舉報，本公司有權視情節輕重而終止該會員之帳號，或列為拒絕往來戶，永久不得使用本網站之服務。
</p>

<h5>
五、服務手續費
</h5>
<p>
(一) 貸款業務員會員利用本網站之服務時，應依據本站網頁之呈現支付服務手續費；本網站之服務手續費，係以「案件數」計算。
</p>
<p>
(二) 會員同意，本網站得依市場狀況及營運考量，保留隨時於事先通知後，新增、變更或調整費用項目、費率及支付方式或停止提供本網站服務之權利。
</p>
<h5>
六、保密義務
</h5>
<p>
(一) 除本服務條款另有約定外，會員對於其因本服務條款之履 行，所知悉或持有之本網站未對外公開之資料或營業秘密，均應負保密之義務，且應以善良管理人之注意義務妥善保管及維持其機密性，除事先經本網站同意、或依相關法令之規定、或依有權機關之命令或要求外，不得以任何方式提供或洩露予第三人持有或知悉，亦不得為其它目的使用之，本服務條款因故終止或消滅後亦同。
</p>
<p>
(二) 本條第1項所定之保密義務，於下列情形不適用之：
1. 該等資料於本網站提供予會員之前，已為會員所知悉或取得，且其取得並非因本服務條款之簽署或履行，亦非自本網站所取得或知悉者。
2. 該等資料於提供時，已屬相關大眾所周知者。
3. 該等資料於提供後，非因會員之故意或過失，而經出版或以其他方式成為相關大眾所周知者。
4. 該等資料係取自對該等資料有合法持有權之第三人，而該第三人之提供或揭露該等資料予會員，並未違反其所應負之任何保密義務者。
</p>
<p>
(三) 若本網站提供相關點閱資料、流量分析等資料予會員，該等資料亦均視為本網站之營業秘密，除事先經本網站書面同意外，會員僅得於履行本服務條款之必要範圍內使用，不得提供或洩漏予任何第三人，亦不得為其他任何目的使用，會員停止使用本網站服務或本網站服務因故終止後亦同。
</p>
<p>
(四) 會員違反本條之約定時，除應自負法律責任外，如因此而致本網站、本網站負責人或員工受主管機關調查或追訴、或受第三人主張權利時，應依本網站之要求，出面負責為適當之處理、並提供必要之說明、證據或其他協助，本網站並得暫停本網站服務之全部或一部、且得終止 本網站服務；如本網站、本網站負責人或員工因此而受有財產上或非財產上之損害或支出費用，會員並應負賠償或償還之責任，包括且不限於訴訟費及合理之律師費。
</p>
<h5>
七、聲明
</h5>
<p>
(一) 本公司所蒐集之個人資料，於處理及利用過程遵循個人資料保護法之規定，不會移為開通本網站貸款媒合外之其他用途，個人資料的處理與利用期間除法律另有規定外，以完成原特定目的之必要期間為限，惟本公司得保留個人資料以供日後核對使用。除個人資料保護法及相關法令另有規定外，僅限於本公司內部使用，不會移轉給第三方處理。
</p>
<p>
(二) 用戶有權隨時提出以下需求：
1. 個人資料查詢、取得複製本、更正、補充；
2. 停止將您的個人資料用於直效行銷及／或接收特定或各類行銷資料；
3. 期間屆滿時要求刪除、停止處理及利用您的個人資料；
歡迎以電子郵件方式洽詢本公司客服信箱(service@ezbank.com.tw)進行申請。
</p>
<h5>
八、智慧財產權保護
</h5>
<p>
(一) 會員與用戶應擔保其所提供之所有資料及內容、以及其所提供之服務，均符合中華民國相關法令之規定，若該資料、內容、服務或業務須事先經主管機關報備或許可，會員與用戶應擔保已事先合法取得相關報備或許可證明。
</p>
<p>
(二) 會員應擔保其所提供之所有資料及內容，絕無違反法令、侵害第三人智慧財產權或人格權或其他權益之虞之情形。
</p>
<p>
(三) 本網站接獲第三人之通知、或發現可能涉及違反本條所定擔保之情事時，將應即時通知會員與用戶，會員與用戶應立即處理並提出說明，本網站並得要求會員與用戶立即更正或移除，若未即時更正或移除，本網站得自行移除相關資訊。
</p>
<p>
(四) 會員與用戶違反本條之約定時，除應自負法律責任外，如因此而致本網站、本網站負責人或員工受主管機關調查或追訴、或受第三人主張權利時，會員與用戶應依本網站之要求出面負責處理、或提供必要之說明、證據或其他協助；如本網站因此而商譽受損、受有任何損害或支出費用時，會員與用戶應負賠償或償還之責任。
</p>
<p>
(五) 本網站所使用之軟體、圖片或程式，以及網站上所有內容包括但不限於著作、圖片、檔案、資訊、資料、網站畫面的安排、網頁設計等，均由本公司或其他權利人依法擁有其智慧財產權，包括但不限於商標權、專利權、著作權、營業秘密與專有技術等。任何人未經本公司或其他權利人授權，不得擅自使用、修改重製，公開播送、改作、散佈、公開傳輸、公開發表、進行還原工程解編或反向組繹等。如有違反，除依著作權法及相關法律規定論處，並應負損害賠償責任(包括但不限於訴訟費用及律師費用)。
 </p>
<h5>
九、責任限制
</h5>
<p>
(一) 本網站服務僅依當時之功能及現況提供會員使用，對於會員之特定需求或期待，本網站不作任何明示或默示之擔保或保證；本網站並保留隨時修改 本網站服務各項功能之全部或一部之權利。
</p>
<p>
(二) 基於網路特性，本網站不保證任何檔案或資料於傳送過程均係真實、可靠且正確無誤，會員應自行隨時確認其所上傳或刊載之訊息是否正確、並自行備份存檔，因系統處理、傳輸過程、或因系統備份失敗所生之錯誤或資料遺失，本網站不負賠償責任。 
</p>
<p>
(三) 因本網站所提供的會員服務本身之使用，所造成之任何直接或間接之損害，除有故意或重大過失者外，本公司均不負任何責任。
</p>
<p>
(四) 本網站服務相關軟硬體設備進行搬遷、更換、升級、保養或維修時，本網站得於事先通知後，暫停或中斷本網站服務之全部或一部。
 </p>
<p>
(五) 凡非透過本網站而會員與用戶私下間進行交易或服務行為者，本公司不保障該會員與用戶應有權益。若因此造成會員與用戶產生任何損失，應自行負擔所有責任，本公司無須負責或賠償任何會員損失。 
</p>
<p>
(六) 不論直接或間接損害，本網站因本服務條款及本網站服務，對於會員與用戶所負之損害賠償責任，以會員與用戶所支付予本網站服務之服務費用金額為上限。
 </p>
<h5>
十、個別效力
</h5>
<p>
(一) 本條款之全部或一部份無效時，不影響其他約定之效力。
</p>
<p>
(二) 依本服務條款所生之各項權利，其全部或一部之行使或不行使，不影響其他權利之行使，其不行使亦不得視爲拋棄。
</p>
<p>
(三) 除事先經他方書面同意外，任一方不得將其因本合約所生之權利或義務，全部或一部轉讓予第三人，亦不得委由第三人代為履行；但雙方同意本網站得將本服務、本服務條款、以及因本服務條款所生之權利或義務之全部或一部，轉讓予本網站之關係企業、或交由本網站之關係企業承受。
</p>
<h5>
十一、爭議處理
</h5>
<p>
本服務條款之準據法為中華民國法令，如本服務條款有未盡事宜，應依中華民國法令解釋或補充之。雙方間因本服務條款或本服務所生之所有爭議，如因此而涉訟，以臺灣臺北地方法院為第一審管轄法院。
</p>


				</div>	

			</div>
		</div>
	</section>
</div>
<a href="#" class="scrollup"><i class="icon-angle-up icon-square icon-bglight icon-2x active"></i></a>	

</body>