<p>嗨，<%= @resource.email %>！</p>

<p>您可以透過以下連結重設密碼</p>

<p><%= link_to '更改密碼連結', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>如果您沒有要求重設密碼，請忽略這封Email.</p>
<p>您的密碼將不會改變，除非您透過此連結重設密碼</p>